<div class="dashboard-cards admin-nav-cards mb-4">
  <div class="dashboard-card {% if request.endpoint == 'admin.dashboard' %}active-card{% endif %}">
    <i class="fa-solid fa-gauge"></i>
    <h3>Dashboard</h3>
    <a href="{{ url_for('admin.dashboard') }}" class="dashboard-card-link">Ver dashboard</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.lista_reservas' %}active-card{% endif %}">
    <i class="fa-solid fa-clipboard-list"></i>
    <h3>Reservas</h3>
    <a href="{{ url_for('admin.lista_reservas') }}" class="dashboard-card-link">Ver reservas</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.reportes' %}active-card{% endif %}">
    <i class="fa-solid fa-chart-pie"></i>
    <h3>Reportes</h3>
    <a href="{{ url_for('admin.reportes') }}" class="dashboard-card-link">Ver reportes</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.listar_articulos' %}active-card{% endif %}">
    <i class="fa-solid fa-box"></i>
    <h3>Artículos</h3>
    <a href="{{ url_for('admin.listar_articulos') }}" class="dashboard-card-link">Ver artículos</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.normativas' %}active-card{% endif %}">
    <i class="fa-solid fa-file-contract"></i>
    <h3>Normativas</h3>
    <a href="{{ url_for('admin.normativas') }}" class="dashboard-card-link">Ver normativas</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.usuarios' %}active-card{% endif %}">
    <i class="fa-solid fa-users"></i>
    <h3>Usuarios</h3>
    <a href="{{ url_for('admin.usuarios') }}" class="dashboard-card-link">Ver usuarios</a>
  </div>
  <div class="dashboard-card {% if request.endpoint == 'admin.reporte_morosidad' %}active-card{% endif %}">
    <i class="fa-solid fa-chart-column"></i>
    <h3>Morosidad</h3>
    <a href="{{ url_for('admin.reporte_morosidad') }}" class="dashboard-card-link">Ver morosidad</a>
  </div>
</div>