{% extends "layouts/base_dashboard.html" %}
{% block usuario_name %}Admin{% endblock %}

{% block sidebar_links %}
  <li>
    <a href="{{ url_for('admin.dashboard') }}" class="{% if request.endpoint == 'admin.dashboard' %}active{% endif %}">
      <i class="fa-solid fa-gauge"></i> Dashboard
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.reportes') }}" class="{% if request.endpoint == 'admin.reportes' %}active{% endif %}">
      <i class="fa-solid fa-clipboard-list"></i> Reportes
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.lista_reservas') }}" class="{% if request.endpoint == 'admin.lista_reservas' %}active{% endif %}">
      <i class="fa-solid fa-clipboard-list"></i> Préstamos
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.listar_articulos') }}" class="{% if request.endpoint == 'admin.listar_articulos' %}active{% endif %}">
      <i class="fa-solid fa-box"></i> Artículos
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.crear_articulo') }}" class="{% if request.endpoint == 'admin.crear_articulo' %}active{% endif %}">
      <i class="fa-solid fa-plus"></i> Nuevo Artículo
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.normativas') }}" class="{% if request.endpoint == 'admin.normativas' %}active{% endif %}">
      <i class="fa-solid fa-clipboard-list"></i> Normativas
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.usuarios') }}" class="{% if request.endpoint == 'admin.usuarios' %}active{% endif %}">
      <i class="fa-solid fa-users"></i> Usuarios
    </a>
  </li>
  <li>
    <a href="{{ url_for('admin.reporte_morosidad') }}" class="{% if request.endpoint == 'admin.reporte_morosidad' %}active{% endif %}">
      <i class="fa-solid fa-chart-column"></i> Morosidad
    </a>
  </li>
{% endblock %}

{% block dashboard_content %}
  <div class="breadcrumb reveal">
    <a href="{{ url_for('admin.dashboard') }}">Admin</a> <i class="fa-solid fa-chevron-right"></i>
    <span>Dashboard</span>
  </div>
  <div class="dashboard-content reveal">
    <h2>Bienvenido al panel de administración</h2>
    <p>Desde aquí puedes gestionar tus reservas, reportes, artículos, normativas y usuarios.</p>
{% include 'admin/_admin_nav_cards.html' %}
  </div>
{% endblock %}
