**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.DS_Store
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/Dockerfile*
**/__pycache__
**/bin
**/charts
**/compose.y*ml
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
