

SECRET_KEY=dev_secret
FLASK_DEBUG=1

DB_HOST=127.0.0.1
DB_PORT=3306

DB_NAME=sistema_prestamos

DB_ROOT_PASSWORD=password

DB_USER=tp_integrador
DB_PASSWORD=password

BACKEND_HOST=127.0.0.1
BACKEND_PORT=5001

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=5000
