{
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.html", "*.jinja", "*.j2"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ],
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "cssDeclarationSorter": "alphabetical",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 100,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "jsxSelfClosing": false
}
